{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/panelstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/portal.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/css/all.css' %}">
{% endblock %}
{% block title %}
	پنل استاد
{% endblock %}
{% block content %}
            	<body>
				<section>
					<div class="w90 text-center title2 padtop">
						<b>دوره های فعال</b>
					</div>
					<div>
					<table class="content">
						<thead >
							<tr>
								<th>ردیف</th>
								<th>نام دوره</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
                        {% for class in classes %}
                            <tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ class.term.name }}</td>
								<td><a href="{% url 'attendance_info' student_slug=current_student.slug class_slug=class.slug  %}">مشاهده</a></td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
					</div>
				</section>
		    </body>
{% endblock %}