{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/panelstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/portal.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/css/all.css' %}">
{% endblock %}
{% block title %}
	پنل استاد
{% endblock %}
{% block content %}
            	<body>
				<section>
					<div class="w90 text-center title2 padtop">
						<b>ثبت نمرات</b>
					</div>
                    <div class="w90 text-center title2 padtop">
                        <b>نام کلاس: {{ class_obj.term.name }} {{ class_obj.gender }}</b>
                    </div>
					<div>
					<table class="content">
						<thead >
							<tr>
								<th>ردیف</th>
								<th>نام دوره</th>
								<th>کوِئیز 1</th>
								<th>کوِئیز 2</th>
								<th>شفاهی</th>
								<th>فعالیت کلاسی</th>
								<th>نمره ی پایانی</th>
								<th>وضعیت</th>
							</tr>
						</thead>
						<tbody>
                        {% for score in scores %}
                            <tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ score.term.name }}</td>
								<td>{{ score.quiz_1 }}</td>
								<td>{{ score.quiz_2 }}</td>
								<td>{{ score.oral_or_listening }}</td>
								<td>{{ score.class_activity }}</td>
								<td>{{ score.total_score }}</td>
								<td>
                                    {% if score.total_score >= 70 %}
                                        قبول
                                    {% else %}
                                        مردود
                                    {% endif %}
                                </td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
					</div>
				</section>
		    </body>
{% endblock %}